@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rock+Salt&display=swap');
html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    display: block;
    margin: 0 auto;
}

nav {
    display: inline;
    background-color: #23425f;
}

#navbar a {
    margin: 0px 10px;
}

.nav-link {
    text-decoration: none;
    color: #ffab5e;
}

/* Welcome Section - Yellow */

.welcome-section {
    background-color: #ffab5e;
    color: #a64942;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    font-family: 'Rock Salt', cursive;
}

h3, p {
    font-family: 'Lato', sans-serif;
}

/* Project Tiles Section - Red */

.project-section {
    background-color: #a64942;
    color: #ff7844;
    padding: 50px 20px;
}

.project-tile {
    padding: 40px;
    text-align: center;
    border: 2px solid #BDBDBD;
    margin: 50px;
    border-radius: 10px;
    background-color: #91403a;
}

.project-tile a {
    padding: 20px 0;
}

.project-image {
    margin: 40px 0;
}

a.project-link {
    background-color: #23425f;
}

#more-projects-link {
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 10px;
}

/* Contact Section - Orange */

.contact-section {
    background-color: #ff7844;
    padding: 10px;
    color: #23425f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-links a {
    text-decoration: none;
    color: #23425f;
}

/* Footer footer footer */

.footer {
    background-color: #23425f;
    color: #ffab5e;
    padding: 20px;
}

@media screen and (max-width: 767px) {
    .contact-section {
        padding: 5px;
        display: block;
    }
    .contact-section h2 {
        padding-top: 50px;
    }
    .project-tile a {
        padding: 5px 0;
    }
    .project-section {
        padding: 0;
    }
}